* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  -webkit-font-smoothing: antialiased;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;
}
html{
  background: #F7F8FA;
}

.m{
  background: url('../assets/slogan.png') no-repeat;
  width: 400px;
  height: 100px;
  background-size: contain;
  margin-top: 30px;
}
.navv{
  top:0;
}
.btns{
  padding: 10px 40px;
  border: 1px solid #A9A9A9;
  border-radius: 20px;
  color: #5F5F5F;
  font-size: 10px;
  display: inline-block;
  margin: 40px;
  transition: all 0.2s linear;
  cursor: pointer;
}

.btns:hover{
  border: 1px solid #29c276;
  background: #29c276;
  color: #fff;
  opacity: .9;
}
.tc {
  text-align: center;
}
body{
  position: relative;
}
.cover{
  background: url('http://bestanimations.com/Books/writing/hand-writing-close-up-animated-gif.gif') no-repeat;
  width: 100%;
  background-size: cover;
  height: 800px;
  position: relative;
}

.cover:before{
  content: '';
  display: block;
  background: rgba(0,0,0,.3);
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 800px;
  z-index: 1;
}
.container{
  margin: 0 auto;
  width: 900px;
  position: relative;
  z-index: 9;
}

#bg-wrap{
  width: 550px;

}

.animation{
-webkit-animation:flipInY 2s .2s ease both;
}

@-webkit-keyframes flipInY{
0%{-webkit-transform:perspective(400px) rotateY(90deg);
opacity:0}
40%{-webkit-transform:perspective(400px) rotateY(-10deg)}
70%{-webkit-transform:perspective(400px) rotateY(10deg)}
100%{-webkit-transform:perspective(400px) rotateY(0deg);
opacity:1}
}

.bgs{
  background: #29c276;
}
.wrap-zl {
  display: flex;
  justify-content: space-around;
  margin-top: -200px;
}

.wrap-zl li{
  background: #fff;
  margin: 10px;
  display: flex;
  width: 250px;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;
  box-shadow: 0px 2px 5px rgba(0,0,0,.07);
  text-align: center;
  padding: 50px 30px;
  border-radius: 8px;
  position: relative;
  text-align: center;
  transition: all 0.3s linear;
}

.wrap-zl li:hover{
  transform: translateY(-20px);
  box-shadow: none;
  cursor: pointer;
}

.wrap-zl .tag{
  position: absolute;
  top: 0;
  background: #29c276;
  padding: 10px 10px;
  color: #fff;
  font-size: 10px;
  left: 50%;
  width: 80px;
  box-sizing: border-box;
  margin-left: -40px;
}

.wrap-zl .alb{
  width: 200px;
  height: 250px;
  line-height: 250px;
  text-align: center;
}
.wrap-zl .alb img{
  width: 200px;
  vertical-align: middle;
  text-align: center;
}

.wrap-zl .avatar{
  width: 50px;
  margin: 20px auto;
}

.wrap-zl .name{
  font-size: 16px;
  font-weight: 400;
  color: #777777;
  margin-bottom: 10px;
}
.wrap-zl .sign{
  font-size: 12px;
  font-weight: 400;
  color: #C2C2C2;
  padding: 0 20px;
  line-height: 20px;
}

.nav{
  color: #fff;
  height: 70px;
  line-height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
}
.nav .logo{
  font-weight: 600;
  width: 150px;
}
.nav .menu{
  display: flex;
  flex-direction: row;
}
.nav .menu li{
  margin: 0 20px;
}

.main{
  height: 400px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main *{
  margin-bottom: 30px;
}
.main .btn{
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 50px;
  border-radius: 20px;
  transition: all 0.2s linear;
}
.main img{
  width: 70px;
}

a{
  transition: all 0.2s linear;
  color:#fff;
}

#search{
  width: 400px;
  height: 25px;
  font-size: 18px;
  line-height: 30px;
  border-radius: 30px;
  border: 0;
  color: #000;
  padding: 10px 40px;
  background: rgba(255,255,255,.8);
  font-weight:200;
}

::-moz-placeholder { color: #000; }
::-webkit-input-placeholder { color:#000; }
:-ms-input-placeholder { color:#000; }

a:hover{
  color: #29c276;
}

.ccc a:hover{
  color: #fff;
}

.main .btn:hover{
  border: 1px solid #29c276;
  background: #29c276;
  color: #fff;
  opacity: .9;
  
}

.panel{
  background: #fff;
  text-align: center;
}

.top{
  padding: 50px 0;

}
.top .title{
  color: #4E4E4E;
  font-size: 20px;
  font-weight: 400;
  line-height: 50px;
}

.top .des{
  color: #A9A9A9;
  font-size: 14px;
  font-weight: 200;
}

.panel .light{
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  margin: 0 auto ;
  padding-bottom: 40px;
}

.panel .group{
  width: 50%;
}

.panel .group img{
  width: 300px;
}

.panel .group .title{
  color: #4E4E4E;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 20px;
}

.panel .group .des{
  color: #A9A9A9;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 80px;
}

.panel .group .btn{
  padding: 8px 30px;
  border: 1px solid #74D9A7;
  border-radius: 20px;
  color: #29c276;
  font-size: 10px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 80px;
  display: inline-block;
}

.panel .group .btn:hover{
  background: #29c276;
  color: #fff;
}

.wrap-des {
  margin: 50px 0;
}

.wrap-des ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  width: 900px;
  margin: 0 auto;
}

.wrap-des li{
  background: #fff;
  padding: 30px 20px 50px;
  border-radius: 5px;
  flex: 1;
  margin-left: 20px;
  text-align: center;
  width: 100px;
  height: 150px;
  transition: all 0.3s linear;
}

.wrap-des li:hover{
  box-shadow: 0px 2px 5px rgba(0,0,0,.07);
  transform: translateY(-10px);
}


.wrap-des li .icon{
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

.wrap-des li h2{
  font-size: 20px;
  font-weight: 400;
  color: #4E4E4E;
  line-height: 50px;
  margin-top: 15px;
}

.wrap-des li .content{
  font-size: 10px;
  font-weight: 400;
  line-height: 20px;
  color: #979797;
}

footer{
  background: #3F4842;
  width: 100%;
  text-align: center;
  padding: 50px 0;
  color: #fff;
  font-weight: 200;
  font-size: 10px;

}

footer img{
  width: 100px;
}
footer a{
  color: #fff;
}
footer p{
  margin: 20px 0 10px 0;
}

.main-wrap{
  width: 900px;
  margin: 20px auto;
  display: flex;
}

.main-wrap .navv{
  border-right:1px solid #29c276;
  width: 100px;
  margin-right: 40px;
}

.main-wrap .navv li {
  line-height: 30px;
  font-size: 14px;
}

.main-wrap .navv li a{
  color: #666;
}

.main-wrap .navv li a:hover{
  color: #29c276;
}
.main-wrap .body{
  flex: 1;
  position: relative;
  
}

.main-wrap .body div{
  margin: 30px 0;
}

.main-wrap .body .title{
  color: #29c276;
  font-weight: 400;
  line-height: 40px;
}

.main-wrap .body .title:before{
  content: '&';
  color:#29c276;
  font-size: 10px;
  margin-right: 10px;
}

.main-wrap .body h1{
  font-size: 20px;
  font-weight: 400;
  line-height: 50px;
}

.main-wrap .body h1:after{
  content: '';
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #29c276;
  border: 2px solid #fff;
  left: 0;
  margin-left: -47px;
  margin-top: -30px;
}

.main-wrap .body p{
  font-size: 14px;
  color: #222;
  line-height: 30px;
  font-weight: 300;
}

.link a{
  margin:5px 10px;
}

.pro{
  color: #999;
  margin: 0;
}

#masks{
  background: rgba(0,0,0,.8);
  position: fixed;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 999;
  height: 900px;
  top: 0;
  left: 0;
  display: none;
}

#masks img{
  width: 200px;
}

#masks p{
  margin-top: 50px;
  font-size: 18px;
}